.App {
  text-align: center;
}
.allUser{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.formWrapper{
  width: 100%;
}
.formWrapper form{
  /* display: flex;
  justify-content: center; */
  margin: 2% auto;
  width: 40%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 25px 60px;
  background-color: black;
  flex-direction: column;
}
.formWrapper form input{
  width: 100%;
  height: 36px;
  padding: 0px 5px;
  margin: 10px 0px;
  border-radius: 5px;
  font-family: poppins;
}

.formWrapper form button{
  padding: 8px 20px;
  font-family: poppins;
  background-color: darkgreen;
  color: aliceblue;
}